.form-select {
    width: auto;
}

header {
    text-align: center;
    padding: 15px;
    border-bottom: solid black 1px;
    margin-bottom: 20px;
    height: 20rem;
    background: url('https://connect-prd-cdn.unity.com/p/images/15ead946-13cc-46e7-ba65-e803628655e8_170802_RusselM_fb.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerTitle {
    background-color: rgba(255, 255, 255, 0.40);
    padding: 30px;
}

#title {
    text-align: center;
    margin-bottom: 20px;
}


/* Cacher les formulaires et div pour les afficher au clic de bouton */

#showEnemy,
#formEnemy,
#showHero,
#initBattle,
#showBattle {
    display: none;
}

#heroImg,
#enemyImg {
    max-width: 200px;
    height: auto;
}

#characterCreation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

#initBattle {
    width: auto;
    margin: auto;
}

#formHero,
#formEnemy {
    margin-bottom: 30px;
}

#hero,
#enemy {
    max-width: 40%;
}